<h1><%= @article.title %> </h1>

<div><%= @article.content %></div>

<form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this book">
</form>
